<% let appName = 'branding'; %>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <branding-admin-root <% if (typeof contentSecurityPolicyNonce !== "undefined" && contentSecurityPolicyNonce) {%>ngCspNonce="<%= contentSecurityPolicyNonce %>"<% } %>>
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <img class="center-block" src="<%= BrandingService.getRootContext() %>/images/loading.svg"
             alt="<%= TranslationService.t('loading-alt-text') %>">
      </div>
      <div class="col-xs-1"></div>
    </branding-admin-root>
  </div>
  <div class="col-xs-2"></div>
</div>
<script src="<%= BrandingService.getRootContext() %>/angular/<%= appName %>/browser/polyfills<%= CacheService.getNgAppFileHash(appName, 'polyfills', '-') %>.js" type="module" <% if (typeof contentSecurityPolicyNonce !== "undefined" && contentSecurityPolicyNonce) {%>nonce="<%= contentSecurityPolicyNonce %>"<% } %>></script>
<script src="<%= BrandingService.getRootContext() %>/angular/<%= appName %>/browser/main<%= CacheService.getNgAppFileHash(appName, 'main', '-') %>.js" type="module" <% if (typeof contentSecurityPolicyNonce !== "undefined" && contentSecurityPolicyNonce) {%>nonce="<%= contentSecurityPolicyNonce %>"<% } %>></script>
<link rel="stylesheet" href="<%= BrandingService.getRootContext() %>/angular/<%= appName %>/browser/styles<%= CacheService.getNgAppFileHash(appName, 'styles', '-') %>.css">
