<div class="row equal">
  <div class="col-md-1">
  </div>
    <div class="col-md-3">
      <div class="panel panel-default">
               <div class="panel-heading">
                   <span class="panel-title"><%= TranslationService.t('menu-analyze')%></span>
               </div>
               <!-- end panel-heading -->
               <div class="panel-body">
                 <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/admin/reports"><%= TranslationService.t('reports-heading')%></a></div>
                 <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/export"><%= TranslationService.t('menu-export')%></a></div>
               </div>
               <!-- end panel-body -->
           </div>
           <!-- end panel-primary -->
    </div>
    <% if ( hasRole(req,'Admin')) {%>
    <div class="col-md-3">
      <div class="panel panel-default">
               <div class="panel-heading">
                   <span class="panel-title"><%= TranslationService.t('menu-syssettings')%></span>
               </div>
               <!-- end panel-heading -->
               <div class="panel-body">
                 <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/admin/roles"><%= TranslationService.t('menu-rolemgmt')%></a></div>
                 <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/admin/users"><%= TranslationService.t('menu-usermgmt')%></a></div>
               </div>
               <!-- end panel-body -->
           </div>
           <!-- end panel-primary -->
    </div>
    <% }%>
    <div class="col-md-3">

    </div>
    <div class="col-md-1">
    </div>
</div>
