<div class="row">
  <div class="col-xs-2">

  </div>
  <div class="col-xs-8">
    <h1><%= TranslationService.t('reports-heading') %></h1>
  </div>
  <div class="col-xs-2">
  </div>
</div>
<div class="row">
  <div class="col-xs-2">

  </div>
  <div class="col-xs-8">
    <%= TranslationService.t('reports-description') %>
  </div>
  <div class="col-xs-2">
  </div>
</div>
<div class="row">
  <div class="col-xs-2">

  </div>
  <div class="col-xs-8">
    &nbsp;
  </div>
  <div class="col-xs-2">
  </div>
</div>
<div class="row">
  <div class="col-xs-2">

  </div>
  <div class="col-xs-8">
    <% for(var i=0; i<reports.length; i++) {%>
      <li><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/admin/report/<%= reports[i].name %>"><%= reports[i].title %></a></li>
   <% } %>


  </div>
  <div class="col-xs-2">
  </div>
</div>
