<script src="<%= BrandingService.getRootContext() %>/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<link href='<%= BrandingService.getRootContext() %>/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' rel='stylesheet' type='text/css'>

<div class="row">

</div>
<div class="row">
  <div class="col-xs-2">

  </div>
  <div class="col-xs-8">

   <report branding="<%= typeof branding == 'undefined'? data.branding : branding %>" portal="<%= typeof portal == 'undefined'? data.portal : portal %>" name="<%= req.param('name') %>"></report>
   <div class="row" id="loading">
     <div class="col-xs-1">
     </div>
     <div class="col-xs-10">
       <img class="center-block" src="<%= BrandingService.getRootContext() %>/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
     </div>
     <div class="col-xs-1">
     </div>
   </div>

   <script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/report/inline.bundle.js?ts=<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/report/polyfills.bundle.js?ts=<%= sails.config.startupMinute %>"></script>
<% if (sails.config.angularDev) { %>
<script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/report/vendor.bundle.js?ts=<%= sails.config.startupMinute %>"></script>
<% } %>
<script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/report/main.bundle.js?ts=<%= sails.config.startupMinute %>"></script>
<% if (sails.config.angularDev) { %>
  <script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/report/styles.bundle.js?ts=<%= sails.config.startupMinute %>"></script>
<% } else { %>
  <link rel="stylesheet" href="<%= BrandingService.getRootContext() %>/angular/report/styles.bundle.css?ts=<%= sails.config.startupMinute %>">
<% } %>

  </div>
  <div class="col-xs-2">
  </div>
</div>
