<div class="row" id="loading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="<%= sails.config.http.rootContext %>/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
  </div>
  <div class="col-xs-1">
  </div>
</div>
<div class="row">
  <manage-roles></manage-roles>
</div>
<script type="text/javascript" src="<%= sails.config.http.rootContext %>/angular//manageRoles/inline.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="<%= sails.config.http.rootContext %>/angular//manageRoles/polyfills.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="<%= sails.config.http.rootContext %>/angular//manageRoles/styles.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="<%= sails.config.http.rootContext %>/angular//manageRoles/vendor.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="<%= sails.config.http.rootContext %>/angular//manageRoles/main.bundle.js?<%= sails.config.startupMinute %>"></script>
