<div class="row" id="loading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="<%= sails.config.http.rootContext %>/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
  </div>
  <div class="col-xs-1">
  </div>
</div>
<div class="row">
  <manage-users></manage-users>
</div>
<script type="text/javascript" src="<%= sails.config.http.rootContext %>/angular//manageUsers/inline.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="<%= sails.config.http.rootContext %>/angular//manageUsers/polyfills.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="<%= sails.config.http.rootContext %>/angular//manageUsers/styles.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="<%= sails.config.http.rootContext %>/angular//manageUsers/vendor.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="<%= sails.config.http.rootContext %>/angular//manageUsers/main.bundle.js?<%= sails.config.startupMinute %>"></script>
