<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= TranslationService.t('welcome-title') %></h1>
  </div>
<div class="row equal">
    <div class="col-md-3 homepanel">
      <div class="panel panel-default">
         <div class="panel-heading text-center">
             <span class="panel-title">
               <div><img class="overlay" src="<%= BrandingService.getBrandAndPortalPath(req) %>/images/checklist.png" alt="@document.icon" width="43px" height="30px"></div>
               <%= TranslationService.t('menu-plan')%>
             </span>
         </div>
         <div class="panel-body">
           <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/rdmp/edit"><%= TranslationService.t('create-rdmp')%></a></div>
           <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/dashboard/rdmp"><%= TranslationService.t('edit-dashboard-rdmp')%></a></div>
             <% if (TranslationService.t('get-advice-link') != "get-advice-link") {
             %>
                 <div><a rel="noopener noreferrer" target="_blank" href="<%= TranslationService.t('get-advice-link') %>"><%= TranslationService.t('get-advice') %></a></div>
             <% } else if (sails.config.appmode.hidePlaceholderPages == false) { %>
                 <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/getAdvice"><%= TranslationService.t('get-advice') %></a></div>
             <% } %>
         </div>
      </div>
    </div>
    <div class="col-md-3 homepanel">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <div><i class="fa fa-sitemap fa-3x"></i></div>
          <span class="panel-title"><%= TranslationService.t('menu-organise-worspace')%></span>
        </div>
        <div class="panel-body">
          <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/workspaces/list"><%= TranslationService.t('workspaces-dashboard')%></a></div>
            <% if (TranslationService.t('workspace-services-list-link') != "workspace-services-list-link") {
            %>
                <div><a rel="noopener noreferrer" target="_blank" href="<%= TranslationService.t('workspace-services-list-link') %>"><%= TranslationService.t('workspace-services-list') %></a></div>
            <%  } else if (sails.config.appmode.hidePlaceholderPages == false) { %>
                <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/availableServicesList"><%= TranslationService.t('workspace-services-list') %></a></div>
            <% } %>
        </div>
      </div>
    </div>
    <div class="col-md-3 homepanel">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
            <div><i class="fa fa-laptop fa-3x"></i></div>
            <span class="panel-title"><%= TranslationService.t('menu-manage')%></span>
        </div>
        <div class="panel-body">
          <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/dataRecord/edit"><%= TranslationService.t('create-datarecord')%></a></div>
          <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/dashboard/dataRecord"><%= TranslationService.t('edit-dashboard-datarecord')%></a></div>
        </div>
       </div>
    </div>
    <div class="col-md-3 homepanel">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
            <div><i class="fa fa-rocket fa-3x"></i></div>
            <span class="panel-title"><%= TranslationService.t('menu-publish')%></span>
        </div>
        <div class="panel-body">
          <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/dataPublication/edit"><%= TranslationService.t('create-data-publication')%></a></div>
          <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/dashboard/dataPublication"><%= TranslationService.t('edit-dashboard-publication')%></a></div>
        </div>
       </div>
    </div>

</div>

<% let appName = 'dashboard'; %>
<div class="row equal">
  <div class="col-md-12 homepanel">
    <div class="panel panel-default">
      <div class="panel-body">
        <dashboard recordType="rdmp" dashboardType="consolidated">
          <div class="col-xs-1">
          </div>
          <div class="col-xs-10">
            <img class="center-block" src="<%= BrandingService.getRootContext() %>/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
          </div>
          <div class="col-xs-1">
          </div>
        </dashboard>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/<%=appName%>/runtime<%= CacheService.getNgAppFileHash(appName, 'runtime', '.') %>.js" type="module"></script>
<script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/<%=appName%>/polyfills<%=CacheService.getNgAppFileHash(appName, 'polyfills', '.') %>.js" type="module"></script>
<% if (sails.config.angularDev) { %>
  <script src="<%= BrandingService.getRootContext() %>/angular/<%=appName%>/vendor.js" type="module"></script>
<% } %>
<script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/<%=appName%>/main<%=CacheService.getNgAppFileHash(appName, 'main', '.') %>.js" type="module"></script>

<!-- simple jquery script to make all the panels equal height -->
<script>
  $( document ).ready(function() {
    panels = $('.homepanel .panel-default .panel-body');
    maxHeight = Math.max.apply(
      Math, panels.map(function() {
        return $(this).height();
        }).get());
    panels.maxHeight(maxHeight);
  });
</script>
</div>
