<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%- TranslationService.t('welcome-title') %></h1>
  </div>
<div class="row equal">
<% if (typeof homePanels !== 'undefined' && homePanels && homePanels.panels && homePanels.panels.length > 0) { %>
  <% for (const panel of homePanels.panels) { %>
    <div class="<%= panel.columnClass %> homepanel">
      <div class="panel panel-default">
         <div class="panel-heading text-center">
             <span class="panel-title">
               <div><i class="<%= panel.iconClass %>" ></i></div>
               <%= panel.title %>
             </span>
         </div>
         <div class="panel-body">
           <% for (const item of panel.items) { %>
             <div><a <% if (item.external) { %>rel="noopener noreferrer" target="_blank"<% } %> href="<%= item.href %>"><%= item.label %></a></div>
           <% } %>
         </div>
      </div>
    </div>
  <% } %>
<% } else { %>
    <!-- Fallback to static panels if homePanels is not available -->
    <div class="col-md-3 homepanel">
      <div class="panel panel-default">
         <div class="panel-heading text-center">
             <span class="panel-title">
               <div><i class="icon-checklist icon-3x" ></i></div>
               <%= TranslationService.t('menu-plan')%>
             </span>
         </div>
         <div class="panel-body">
           <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/rdmp/edit"><%= TranslationService.t('create-rdmp')%></a></div>
           <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/dashboard/rdmp"><%= TranslationService.t('edit-dashboard-rdmp')%></a></div>
             <% if (TranslationService.t('get-advice-link') != "get-advice-link") {
             %>
                 <div><a rel="noopener noreferrer" target="_blank" href="<%= TranslationService.t('get-advice-link') %>"><%= TranslationService.t('get-advice') %></a></div>
             <% } else if (sails.config.appmode.hidePlaceholderPages == false) { %>
                 <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/getAdvice"><%= TranslationService.t('get-advice') %></a></div>
             <% } %>
         </div>
      </div>
    </div>
    <div class="col-md-3 homepanel">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <div><i class="fa fa-sitemap fa-3x"></i></div>
          <span class="panel-title"><%= TranslationService.t('menu-organise-worspace')%></span>
        </div>
        <div class="panel-body">
          <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/workspaces/list"><%= TranslationService.t('workspaces-dashboard')%></a></div>
            <% if (TranslationService.t('workspace-services-list-link') != "workspace-services-list-link") {
            %>
                <div><a rel="noopener noreferrer" target="_blank" href="<%= TranslationService.t('workspace-services-list-link') %>"><%= TranslationService.t('workspace-services-list') %></a></div>
            <%  } else if (sails.config.appmode.hidePlaceholderPages == false) { %>
                <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/availableServicesList"><%= TranslationService.t('workspace-services-list') %></a></div>
            <% } %>
        </div>
      </div>
    </div>
    <div class="col-md-3 homepanel">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
            <div><i class="fa fa-laptop fa-3x"></i></div>
            <span class="panel-title"><%= TranslationService.t('menu-manage')%></span>
        </div>
        <div class="panel-body">
          <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/dataRecord/edit"><%= TranslationService.t('create-datarecord')%></a></div>
          <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/dashboard/dataRecord"><%= TranslationService.t('edit-dashboard-datarecord')%></a></div>
        </div>
       </div>
    </div>
    <div class="col-md-3 homepanel">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
            <div><i class="fa fa-rocket fa-3x"></i></div>
            <span class="panel-title"><%= TranslationService.t('menu-publish')%></span>
        </div>
        <div class="panel-body">
          <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/dataPublication/edit"><%= TranslationService.t('create-data-publication')%></a></div>
          <div><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/dashboard/dataPublication"><%= TranslationService.t('edit-dashboard-publication')%></a></div>
        </div>
       </div>
    </div>
<% } %>
</div>

<!-- simple jquery script to make all the panels equal height -->
<script <% if (typeof contentSecurityPolicyNonce !== "undefined" && contentSecurityPolicyNonce) {%>nonce="<%= contentSecurityPolicyNonce %>"<% } %>>
  $( document ).ready(function() {
   const panels = document.querySelectorAll('.homepanel .panel-default .panel-body');
   let maxHeight = 0;
   for (let i = 0; i < panels.length; i++) {
      const panel = panels[i];
      const panelHeight = panel.offsetHeight;
      if (maxHeight < panelHeight) {
        maxHeight = panelHeight;
      }
    }
    for (let panel of panels) {
      panel.style.minHeight = `${maxHeight}px`;
    }
  });
</script>
</div>
