<div class="row" id="loading" alt="<%= TranslationService.t('loading-alt-text') %>">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="<%= BrandingService.getRootContext() %>/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
  </div>
  <div class="col-xs-1">
  </div>
</div>
<<%= appSelector %> oid="<%= oid %>" rdmp="<%= rdmp %>" editMode="true" recordType="<%= recordType %>" branding="<%= typeof branding == 'undefined'? data.branding : branding %>" portal="<%= typeof portal == 'undefined'? data.portal : portal %>" ></<%= appSelector %>>
<!-- DateTime Picker Deps -->
<script src="<%= BrandingService.getRootContext() %>/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="<%= BrandingService.getRootContext() %>/node_modules/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="<%= BrandingService.getBrandAndPortalPath(req) %>/js/vocab_widget_v2.js"></script>
<script src='<%= BrandingService.getBrandAndPortalPath(req) %>/js/v0_3_1-leaflet-omnivore.min.js'></script>
<%
var currentMinute = sails.config.startupMinute;
%>

<script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/<%= appName %>/inline.bundle.js?ts=<%= currentMinute %>"></script>
<script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/<%= appName %>/polyfills.bundle.js?ts=<%= currentMinute %>"></script>
<% if (sails.config.angularDev) { %>
<script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/<%= appName %>/vendor.bundle.js?ts=<%= currentMinute %>"></script>
<% } %>
<script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/<%= appName %>/main.bundle.js?ts=<%= currentMinute %>"></script>
<% if (sails.config.angularDev) { %>
  <script type="text/javascript" src="<%= BrandingService.getRootContext() %>/angular/<%= appName %>/styles.bundle.js?ts=<%= currentMinute %>"></script>
<% } else { %>
  <link rel="stylesheet" href="<%= BrandingService.getRootContext() %>/angular/<%= appName %>/styles.bundle.css?ts=<%= currentMinute %>">
<% } %>