<div class="row" id="loading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
  </div>
  <div class="col-xs-1">
  </div>
</div>
<record-search search_url="record/search" record_type="<%= req.query.type ? req.query.type : 'rdmp'%>" search_str="<%= req.query.q ? req.query.q : '' %>" full_url="<%= req.url %>"></record-search>
<%
var currentMinute = sails.config.startupMinute;
%>
<script type="text/javascript" src="/angular/record_search/inline.bundle.js?ts=<%= currentMinute %>"></script>
<script type="text/javascript" src="/angular/record_search/polyfills.bundle.js?ts=<%= currentMinute %>"></script>
<script type="text/javascript" src="/angular/record_search/styles.bundle.js?ts=<%= currentMinute %>"></script>
<script type="text/javascript" src="/angular/record_search/vendor.bundle.js?ts=<%= currentMinute %>"></script>
<script type="text/javascript" src="/angular/record_search/main.bundle.js?ts=<%= currentMinute %>"></script>
