<div class="row" id="loading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
  </div>
  <div class="col-xs-1">
  </div>
</div>
<transfer-owner type="<%= req.param('type') %>"></transfer-owner>

<%
var currentMinute = sails.config.startupMinute;
%>
<script type="text/javascript" src="/angular/transfer_owner/inline.bundle.js?ts=<%= currentMinute %>"></script>
<script type="text/javascript" src="/angular/transfer_owner/polyfills.bundle.js?ts=<%= currentMinute %>">
</script><script type="text/javascript" src="/angular/transfer_owner/styles.bundle.js?ts=<%= currentMinute %>"></script>
<script type="text/javascript" src="/angular/transfer_owner/vendor.bundle.js?ts=<%= currentMinute %>"></script>
<script type="text/javascript" src="/angular/transfer_owner/main.bundle.js?ts=<%= currentMinute %>"></script>
