
<div class="row" id="loading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
  </div>
  <div class="col-xs-1">
  </div>
</div>
<dmp-form oid="<%= req.param('oid') %>" editMode="false" ></dmp-form>
<%
var currentMinute = sails.config.startupMinute;
%>

<script type="text/javascript" src="/angular/dmp/inline.bundle.js?ts=<%= currentMinute %>"></script>
<script type="text/javascript" src="/angular/dmp/polyfills.bundle.js?ts=<%= currentMinute %>"></script>
<% if (sails.config.angularDev == 'true') { %>
<script type="text/javascript" src="/angular/dmp/vendor.bundle.js?ts=<%= currentMinute %>"></script>
<% } %>
<script type="text/javascript" src="/angular/dmp/main.bundle.js?ts=<%= currentMinute %>"></script>
<% if (sails.config.angularDev == 'true') { %>
  <script type="text/javascript" src="/angular/dmp/styles.bundle.js?ts=<%= currentMinute %>"></script>
<% } else { %>
  <link rel="stylesheet" href="/angular/dmp/styles.bundle.css?ts=<%= currentMinute %>">
<% } %>