<% const resolvedAppName = locals.appName || 'record-audit'; %>
<record-audit
  oid="<%= oid %>"
  branding="<%= branding %>"
  portal="<%= portal %>"
  is-admin="<%= isAdmin ? 'true' : 'false' %>"
  <% if (typeof contentSecurityPolicyNonce !== 'undefined' && contentSecurityPolicyNonce) { %>ngCspNonce="<%= contentSecurityPolicyNonce %>"<% } %>>
  <div class="col-xs-12">
    <img class="center-block" src="<%= BrandingService.getRootContext() %>/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
  </div>
</record-audit>

<script src="<%= BrandingService.getRootContext() %>/angular/<%= resolvedAppName %>/browser/polyfills<%= CacheService.getNgAppFileHash(resolvedAppName, 'polyfills', '-') %>.js" type="module"></script>
<script src="<%= BrandingService.getRootContext() %>/angular/<%= resolvedAppName %>/browser/main<%= CacheService.getNgAppFileHash(resolvedAppName, 'main', '-') %>.js" type="module"></script>
<link rel="stylesheet" href="<%= BrandingService.getRootContext() %>/angular/<%= resolvedAppName %>/browser/styles<%= CacheService.getNgAppFileHash(resolvedAppName, 'styles', '-') %>.css">
