
<% if(!_.isUndefined(records) && !_.isNull(records) && !_.isEmpty(records)) {
  
  if(_.isArray(records)) { 
    
    let testRecords = sails.services.recordsservice;

    %>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
              <span class="panel-title"><%= TranslationService.t('@view-record-audit-heading')%></span>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th><%= TranslationService.t('@view-record-audit-updatedAt')%></th>
                  <th><%= TranslationService.t('@view-record-audit-updatedBy')%></th>
                  <th><%= TranslationService.t('@view-record-audit-email')%></th>
                  <th><%= TranslationService.t('@view-record-audit-username')%></th>
                  <th><%= TranslationService.t('@view-record-audit-roles')%></th>
                </tr>
              </thead>
              <tbody>
                <% for(let auditRecord of records) {
                  let user = _.get(auditRecord, 'user');
                  if(!_.isUndefined(user) && !_.isNull(user)) {
                    let roles = _.get(user, 'roles'); %>
                <tr>
                  <td><%=moment(_.get(auditRecord, 'updatedAt')).format('YYYY-MM-DDTHH:mm:ss')%></td>
                  <td><%=_.get(user, 'name')%></td>
                  <td><%=_.get(user, 'email')%></td>
                  <td><%=_.get(user, 'username')%></td>
                  <td>
                  <% if(_.isArray(roles)) {
                    let roleNamesString = '';
                    for(let role of roles) { 
                      if(roleNamesString == ''){
                        roleNamesString = _.get(role, 'name');
                      } else {
                        roleNamesString = ', '+_.get(role, 'name');
                      }
                      %>
                      <%=roleNamesString%>
                    <% } 
                  } %>
                  </td>
                </tr>
                  <% } 
                } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

<%} else { 
  
  let print1 = JSON.stringify(records);
  %> 

  <%= print1 %>

<% } 
}  %>




