<div class="row">
  <local-auth>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
      <img class="center-block" src="<%= BrandingService.getRootContext() %>/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
    </div>
    <div class="col-xs-1">
    </div>
  </local-auth>
</div>
<script src="<%= BrandingService.getRootContext() %>/angular/localAuth/runtime<%= CacheService.getNgAppFileHash('localAuth', 'runtime', '.') %>.js" type="module"></script>
<script src="<%= BrandingService.getRootContext() %>/angular/localAuth/polyfills<%=CacheService.getNgAppFileHash('localAuth', 'polyfills', '.') %>.js" type="module"></script>
<% if (sails.config.angularDev) { %>
<script src="<%= BrandingService.getRootContext() %>/angular/localAuth/vendor.js" type="module"></script>
<% } %>
<script src="<%= BrandingService.getRootContext() %>/angular/localAuth/main<%=CacheService.getNgAppFileHash('localAuth', 'main', '.') %>.js" type="module"></script>
