<div class="row" id="loading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
  </div>
  <div class="col-xs-1">
  </div>
</div>
<div class="row">
  <local-auth><!-- Add Angular2 selector --></local-auth>
</div>
<script type="text/javascript" src="/angular/localAuth/inline.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="/angular/localAuth/polyfills.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="/angular/localAuth/styles.bundle.js?<%= sails.config.startupMinute %>"></script><script type="text/javascript" src="/angular/localAuth/vendor.bundle.js"></script>
<script type="text/javascript" src="/angular/localAuth/main.bundle.js?<%= sails.config.startupMinute %>"></script>
