<div class="row">
  <local-auth>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
      <img class="center-block" src="<%= BrandingService.getRootContext() %>/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
    </div>
    <div class="col-xs-1">
    </div>
  </local-auth>
</div>
<script src="<%= BrandingService.getRootContext() %>/angular/local-auth/browser/polyfills<%=CacheService.getNgAppFileHash('local-auth', 'polyfills', '-') %>.js"
   type="module"></script>
<% if (sails.config.angularDev) { %>
<script src="<%= BrandingService.getRootContext() %>/angular/local-auth/browser/vendor.js"
   type="module"></script>
<% } %>
<script src="<%= BrandingService.getRootContext() %>/angular/local-auth/browser/main<%=CacheService.getNgAppFileHash('local-auth', 'main', '-') %>.js" type="module"></script>
