<div class="row" id="loading">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <img class="center-block" src="/images/loading.svg" alt="<%= TranslationService.t('loading-alt-text') %>">
  </div>
  <div class="col-xs-1">
  </div>
</div>
<export-form ></export-form>
<!-- DateTime Picker Deps -->
<script src="/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<link href='/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' rel='stylesheet' type='text/css'>
<script src="/node_modules/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<link href='/node_modules/bootstrap-timepicker/css/bootstrap-timepicker.min.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/angular/export/inline.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="/angular/export/polyfills.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="/angular/export/styles.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="/angular/export/vendor.bundle.js?<%= sails.config.startupMinute %>"></script>
<script type="text/javascript" src="/angular/export/main.bundle.js?<%= sails.config.startupMinute %>"></script>
