<!-- Default home page -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>


<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%- TranslationService.t('welcome-title') %></h1>
    <!-- Placeholder for error messages, etc. -->
    <% if (req.query.errorTextCode) { %>

      <div class="main container clearfix">
        <h2 class="text-danger text-center">
          <%= TranslationService.t('error-header') %>
        </h2>
        <h3 class="text-danger">
          <%= TranslationService.t(req.query.errorTextCode) %>
        </h3>
        <% if (req.query.errorTextRaw) { %>
          <div class="row">
            <div class="col-md-10 text-muted" style="overflow-wrap:break-word;">
              <%= req.query.errorTextRaw %>
            </div>
          </div>
        <% } %>
        <% if (!_.isUndefined(req.session.errorTextRaw)) { %>
          <div class="row">
            <div class="col-md-10 text-muted" style="overflow-wrap:break-word;">
              <%= req.session.errorTextRaw %>
            </div>
          </div>
        <% } %>
      </div>
    <% } else {%>
      <div class="container"><%- TranslationService.t('welcome-homepage-text') %></div>
      <div class="main container clearfix">
        <br/>
        <a href="<%= BrandingService.getBrandAndPortalPath(req) %>/researcher/home"><%= TranslationService.t('welcome-dashboard-link-text') %></a>
      </div>
    <% } %>
    <br/>
  </div>

</div>
