<% include('../../functions') %>
<!DOCTYPE html>
<html lang="<%= typeof lang !== 'undefined' ? lang : 'en' %>">

<head>
  <base href="<%= BrandingService.getRootContext() ? BrandingService.getRootContext() : '/'  %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= BrandingService.getRootContext() %>/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= BrandingService.getRootContext() %>/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= BrandingService.getRootContext() %>/favicon-16x16.png">

  <title>
    <%=typeof title == 'undefined' ? TranslationService.t('default-title') : title%>
  </title>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>


  <!-- Custom CSS -->
  <% if (req.query && req.query.previewToken) { %>
    <link rel="stylesheet" href="<%= BrandingService.getBrandAndPortalPath(req) %>/preview/<%= req.query.previewToken %>.css">
  <% } else { %>
  <link rel="stylesheet" href="<%= BrandingService.getBrandAndPortalPath(req) %>/styles/theme.css">
  <% } %>

  <!-- Current latest jQuery -->
  <script src="<%= BrandingService.getBrandAndPortalPath(req) %>/js/jquery.min.js"></script>
  <!-- Current latest Bootstrap JS  -->
  <script src="<%= BrandingService.getBrandAndPortalPath(req) %>/js/bootstrap.bundle.min.js"></script>
  <script src="<%= BrandingService.getBrandAndPortalPath(req) %>/js/index.bundle.js"></script>


    <angular-bootstrap rootContext="<%= BrandingService.getRootContext() %>" ></angular-bootstrap>
</head>

<body>
  <div class="header-area">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="user-menu">
            <ul>
              <% if (!req.isAuthenticated())  { %>
                <li><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/user/login"><i class="fa fa-user"></i><%= TranslationService.t('menu-login') %></a></li>
              <% } else { %>
                <li><i class="fa fa-user"></i>&nbsp;<%= TranslationService.t('menu-welcome-text') %>
                  <%= req.user.name %>
                </li>
                <li><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/user/logout"><%= TranslationService.t('menu-logout') %></a></li>
              <% } %>

            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mt-3" >
            <div class="dropdown pull-right">
                <%
                  // Use available languages from the i18nLanguages policy
                  const languages = (typeof availableLanguages !== 'undefined' && availableLanguages) ? availableLanguages : [{ code: 'en', displayName: 'English' }];
                  if (languages.length > 1) {
                    // Find current language display name
                    const currentLang = languages.find(l => l.code === lang) || languages[0];
                  %>
                  <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= currentLang.displayName %>
                  </a>
                  <ul class="dropdown-menu">
                    <%
                    for (const language of languages) {
                      if (language.code !== lang) {
                        const langUrl = new URL(`${req.protocol}://${req.get('host')}${req.originalUrl}`);
                        const params = new URLSearchParams(langUrl.search);
                        params.set('lng', language.code);
                        langUrl.search = params;
                        %>
                        <li><a class="dropdown-item" href="<%= langUrl.toString() %>"><%= language.displayName %></a></li>
                        <%
                      }
                    }
                  %>
                  </ul>
                    <%
                  }
                %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End header area -->

  <div class="site-branding-area">
    <div class="container">
      <div class="row">
        <% if(locals.branding != null && locals.portal != null) { %>
        <%- superPartial("/layout/logo.ejs", branding, portal, true) %>
        <% } else { %>
          <%- include('layout/logo.ejs') %>
        <%}%>

        <div class="col-sm-2 search-box">
        </div>
      </div>
    </div>
  </div>
  <!-- End site branding area -->
  <% if(locals.branding != null && locals.portal != null) { %>
  <%- superPartial("/layout/menu.ejs", branding, portal, true) %>
    <% } else { %>
    <%- include('layout/menu.ejs') %>
    <%}%>
  <!-- End mainmenu area -->
<% if (typeof title!== 'undefined') { %>
<% } %>

<%
  var brandingName = BrandingService.getBrandNameFromReq(req);
  var portalName = BrandingService.getPortalFromReq(req);
  var systemMessageConfig = sails.config.brandingAware(brandingName).systemMessage || {};
  // We use FNV-1a hash to generate a short, value-based identifier for the system message content.
  // This is used to track changes in the system message content and only re-render the message when it changes as it's light and fast and collisions aren't a huge concern.
  function fnv1aHash(str) {
    var hash = 2166136261;
    for (var i = 0; i < str.length; i++) {
      hash ^= str.charCodeAt(i);
      hash = Math.imul(hash, 16777619);
    }
    return ('0000000' + (hash >>> 0).toString(16)).slice(-8);
  }
  var rawSystemMessageKey = JSON.stringify({
    title: systemMessageConfig.title || '',
    message: systemMessageConfig.message || ''
  });
  var systemMessageKey = fnv1aHash(rawSystemMessageKey);
  var systemMessageScope = brandingName + ':' + portalName;
%>
<% if (systemMessageConfig.enabled === true) { %>
  <div id="system-message-area" class="container"
    data-system-message-key="<%= systemMessageKey %>"
    data-system-message-scope="<%= systemMessageScope %>">
  <div id="system-message" class="alert alert-primary alert-dismissible fade show" role="alert">
    <h4><%- systemMessageConfig.title || '' %></h4>
    <div><%- systemMessageConfig.message || '' %></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
 <% } %>

  <div class="maincontent-body">
    <%- body %>
  </div>



  <div class="footer-bottom-area navbar-bottom">
    <% if(locals.branding != null && locals.portal != null) { %>
      <%- superPartial("/layout/footer.ejs", branding, portal, true) %>
      <% } else { %>
        <%- include('layout/footer.ejs') %>
      <%}%>

  </div>



</body>
</html>
