<!-- Default home page -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>



<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= TranslationService.t('dashboard-welcome-text') %></h1>
    <div class="container">
      <div class="btn-group">
        <a class="btn btn-large btn-info" href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/rdmp/edit">
          <span class="glyphicon glyphicon-plus-sign"></span>
          <%= TranslationService.t('create-plan')%>
        </a>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only"><%= TranslationService.t('toggle-dropdown')%></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/transfer"><%= TranslationService.t('transfer-ownership')%></a></li>
          <li><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/record/search"><%= TranslationService.t('record-search-link')%></a></li>
        </ul>
      </div>
    </div>
    <br/>
  </div>
  <div class="row" id="loading">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
      <img class="center-block" src="/images/loading.svg">
    </div>
    <div class="col-xs-1">
    </div>
  </div>
  <div class="main container clearfix">
    <dashboard branding="<%= typeof branding == 'undefined'? data.branding : branding %>" portal="<%= typeof portal == 'undefined'? data.portal : portal %>"></dashboard>
<% if (!sails.config.ng2.use_bundled) { %>
  <script src="/dynamic/systemjs-config.js?appName=dashboard"></script>
  <script>
    System.import('dashboard').catch(function(err){ console.error(err); });
  </script>
<% } %>


  </div>
</div>
